@media all and (max-width: 800px) {
    #main {
      width:90% !important;
    }
  }
  html{
    height:200%;
  }
  body{
    background-image: linear-gradient( 135.9deg,  	#814b5f 16.4%, #5f814b 56.1% );
  }
  h1, p, label {
    color: white;
  }
  h1, p {
    font-family: Optima, sans-serif;
  }
  #main {
    position:relative;
    top: 50px;
    width: 60%;
    max-width:700px;
    margin: auto;
  }
  #title, #description {
    text-align: center;
  }
  #description {
    font-style: italic;
    padding-bottom: 10px;
    border-bottom: 2px dashed white;
    width:83%;
    margin: auto;
  }
  #form-div {
    border: 2px solid white;
    margin-top: 30px;
    background-color: #4B5F81;
    border-radius: 10px;
    padding: 0px 40px 20px;
  }
  input, label {
    font-family:Arial;
  }
  input {
    font-size: 1.1em;
  }
  label {
    font-size: 1.2em;
    display: inline-block;
    margin-top: 20px;
    margin-bottom: 5px;
  }
  input {
    width:100%;
    padding:7px;
    border-radius:5px;
    border:0px;
    -webkit-box-sizing: border-box; 
    -moz-box-sizing: border-box;    
    box-sizing: border-box;  
  }
  textarea {
    width:100%;
    max-width:100%;
    min-height:8em;
    max-height:8em;
    resize:none;
    font-size: 1.2em;
    font-family:Arial;
    padding: 7px;
    -webkit-box-sizing: border-box; 
    -moz-box-sizing: border-box;    
    box-sizing: border-box;
    border-radius:5px;
  }
  #submit {
    margin-top: 20px;
  }
  #dropdown, #dropdown2 {
    width:100%;
    font-size: 1.2em;
    font-family:Arial;
    border-radius:5px;
    height:40px;
    padding-left:5px;
  }
  
  input[type="radio"], input[type="checkbox"] {
    width:auto;
  }
  
  .less-space {
    margin-top:0px;
  }